html {
    background-image: url("https://i.pinimg.com/originals/14/bf/b7/14bfb731b9dd3bae441cfcd22e4e2f61.jpg");
    background-size: cover;
    color: darkblue;
    font-family: 'Oleo Script', cursive;
}

.header {
    margin: 3% auto;
    padding: 1%;
    width: 75%;
    border-radius: 10px;
}

h2 {
    margin: 0 auto 3%;
    text-align: center;
    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: 0 auto;
    
}
input {
    text-align: center;
    line-height: 1.5;
    font-size: 1.5rem;
    margin: 1%;
    border-radius: 10px;
    background: lightgray;
    color: black;
}

button {
    font-size: 1.1rem;
    line-height: 1.75;
    padding: 1%;
    border-radius: 10px;
    background: lightgray;
    color: black;
}

.clear-button {
    margin: 1% auto;
    padding: .75%;
    width: 20%;
}

.clear-button-div {
    display: flex;
    justify-content: center;
}

.todo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2%;
}

.item-completed {
    font-family: 'Oleo Script';
    text-decoration: line-through;
    width: 25%;
    margin: 1%;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    border-radius: 10px;
}

.item {
    font-family: 'Oleo Script';
    width: 25%;
    margin: 1%;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    border-radius: 10px;
}